.side-bar
  .user
    .user-box
      .user-box_name
        takumi
      .user-box_option
        = link_to "#", class: "user-box_option-edit" do
          %i.far.fa-edit
        = link_to "#", class: "user-box_option-cog" do
          %i.fas.fa-cog
  .list
    .list__groups
      %p.list__groups-name
        techcamp
      %p.list__groups-message
        メッセージがありません
    
